._2n7q{display:block}
.sp_glDQcwegnfT{background-image:url(/rsrc.php/v3/yp/r/FgB-DB6BJec.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_glDQcwegnfT.sx_ba64f9{background-position:0 0}.sp_glDQcwegnfT.sx_07fa71{background-position:0 -17px}

#bootloader_DKKmK{height:42px;}.bootloader_DKKmK{display:block!important;}