.sp_sstHes1JXRg{background-image:url(/rsrc.php/v3/y3/r/9_ZTdPUvszB.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_sstHes1JXRg.sx_2e22aa{background-position:0 0}.sp_sstHes1JXRg.sx_62be4e{background-position:0 -17px}

#bootloader_qpUgS{height:42px;}.bootloader_qpUgS{display:block!important;}