body {
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: auto, cover;
    background-color: #c4dada;
    }
    
    header {
        border-color: #cccccc;
        background-color: #ffffff;
        width: 100%;
        height: 12%;
        margin-right: auto;
        margin-left: auto;
    }
    
    .container h1 {
        width: 15%;
        margin: 0 auto;
        float: left;
        padding: 2% 0;
        background-color: teal;
        margin-left: 23.65%;
        color: #ffffff;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    
    nav {
        float: right;
    }
    
    nav ul {
        margin: 0 -70%;
        list-style: none;
        padding: 0;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 109px;
        padding-top: 45px;
    }
    
    nav ul li a {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #4aaaa5;
        text-decoration: none;
    }
    
    header::after {
        content: '';
        display: table;
        clear: both;
    }
    
    main {
        background-color: #ffffff;
        width: 960px;
        height: 90%;
        padding: 1%;
        padding-bottom: 10%;
        border: 1px solid teal;
        border-color: #dddddd;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        margin-bottom: 18%;
        
    }
    
    h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 20%;
        color: teal; 
        background-color: white; 
        margin-top: 2%; 
        margin-left: 2%;
        padding-right: 30%;
    }
    
    .container3 {
        border-top: 3px solid teal;
        margin-top: 5%;
        margin-right: 2%;
        margin-left: 2%;
        clear: left;
    }
    
    img {
        float: left;
        width: 20%;
        height: 20%;
        margin-top: 5%;
        margin-right: 5%;
    }
    
    p {
        font: #777777;
        font-size: 125%;
        line-height: 180%;
        margin-top: 4.5%;
    
    }
    
    footer {
        background-color: #666666;
        padding-bottom: 100px;
        width: 100%;
        border-top: 8px solid #4aaaa5;
    }
    
    .container4 {
        float: left;
        color: lightgray;
        height: -100px;
        margin-left: 48%;
    
    }

    /* -------Beginning of CSS for Contact page specifics-------*/


    input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    box-sizing: border-box;
    margin-top: 16px; 
    margin-bottom: 16px; 
  }
  
    input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
    input[type=submit]:hover {
    background-color: #4aaaa5;
  }
  
    .container1 {
    margin: 40px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

    form {
    margin-top: 50px;
    background-color: #ffffff;
    border-top: 3px solid teal;

    }

    .contact-container h1 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        width: 20%;
        color: teal; 
        background-color: white; 
        margin-top: 2%; 
        margin-left: 2%;
        padding-right: 30%;

    }

    /* -------Beginning of CSS for Contact page specifics-------*/


.container6 {
    padding-bottom: 20px;
}


    
